{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="p-5 bg-primary text-white text-center">
        <div class="container">
            <h1>Welcome to Northwind Database Application</h1>
        </div>
    </div>

    <div class="container content my-3">
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard-item text-center">
                    <a href="/dashboard/customers">Customers</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-item text-center">
                    <a href="/dashboard/products">Products</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-item text-center">
                    <a href="/dashboard/orders">Orders</a>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}


